#
# These groups are read by MySQL server.
# Use it for options that only the server (but not clients) should see
#
# See the examples of server my.cnf files in /usr/share/mysql/
#

# this is read by the standalone daemon and embedded servers
[server]

# this is only for the mysqld standalone daemon
# Settings user and group are ignored when systemd is used.
# If you need to run mysqld under a different user or group,
# customize your systemd unit file for mysqld/mariadb.
[mysqld]
datadir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock
log-error=/var/log/mysqld.log
pid-file=/run/mysqld/mysqld.pid

server-id = 2
log-bin = mysql-bin
binlog-format=ROW
auto-increment-increment=2
auto-increment-offset=2
slave-skip-errors=all
gtid-mode=ON
enforce-gtid-consistency=ON


# this is only for embedded server
[embedded]
