[Unit]
Description=KylinSec security magic Cube agent service
Requires=docker.service opensnitch.service ks-scmc-authz.service

[Service]
ExecStart=/usr/bin/ks-scmc-server agent /etc/ks-scmc/server.toml
Restart=on-failure

[Install]
WantedBy=multi-user.target