[Unit]
Description=KylinSec security magic Cube controller service

[Service]
ExecStart=/usr/bin/ks-scmc-server controller /etc/ks-scmc/server.toml
Restart=on-failure

[Install]
WantedBy=multi-user.target