[Unit]
Description=KylinSec security magic Cube agent service

[Service]
ExecStart=/usr/bin/ks-scmc-server agent /etc/ks-scmc/server.toml

Restart=on-failure

RestartPreventExitStatus=1

[Install]
WantedBy=multi-user.target