[Unit]
Description=KylinSec security magic Cube agent service

[Service]
ExecStart=/usr/bin/ksc-mcube-server agent /etc/ksc-mcube/server.toml

Restart=on-failure

RestartPreventExitStatus=1

[Install]
WantedBy=multi-user.target