[Unit]
Description=KylinSec security magic Cube agent service

[Service]
ExecStart=bash -c "/usr/bin/ksc-mcube-server $(cat /etc/ksc-mcube/server.flags) agent"

Restart=on-failure

RestartPreventExitStatus=1

[Install]
WantedBy=multi-user.target